$small:15%;
$big:100%;
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-$big, 0, 0);
    transform: translate3d(-$big, 0, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes fadeInLeftSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-$small, 0, 0);
    transform: translate3d(-$small, 0, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d($big, 0, 0);
    transform: translate3d($big, 0, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes fadeInRightSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d($small, 0, 0);
    transform: translate3d($small, 0, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -$big, 0);
    transform: translate3d(0, -$big, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -$small, 0);
    transform: translate3d(0, -$small, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, $big, 0);
    transform: translate3d(0, $big, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, $small, 0);
    transform: translate3d(0, $small, 0);
    visibility: visible;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes smalljump {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }

  70% {
    transform: translateY(-15%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes reZoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes load_rotation {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}