@import "./base/config.scss";
//@import "./base/keys.scss";
body{
  font-size: 16px;
  background: #fff;
  user-select: none;
}
#demo{
  text-align: center;
  line-height: 3;
  h2{
    line-height: 2;
  }
  ul{
    padding: 0;
    line-height: 1.5;
  }
  li{
    list-style: none;
    margin-bottom: 20px;
  }
  h1{
    color:#f287a7;
  }
  a{
    color:#0f88eb;
  }
}